{
  "extends": "standard",
  "env": {
    "node": true
  },
  "rules": {
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "brace-style": [
      "off",
      "stroustrup",
      {
        "allowSingleLine": true
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "space-before-function-paren": [
      "error",
      "never"
    ]
  },
  "globals": {
    "it": true,
    "describe": true
  }
}